@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

header {
    display: flex;
    background-color: #587291;
    height: 70px
    min-height: 70px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    display: flex;
}

body {
    margin: 0;
    font-family: sans-serif;
}

nav a {
    padding-right: 20px;
    font-weight: 600;
}

h1 {
    color: black;
}

ul a:hover{
   color: rgb(42, 165, 97);
   transition: 0.7s;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

.salto {
    border: 2px solid;
    padding: 8px;
    background-color: #2F97C1;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}


div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.salto1 {
    background-color: #1CCAD8;
}

.gallery {
    border-radius: 4px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #4c45a0;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.2em;
 }